@charset "utf-8";
body {
	background-color: #000000;
}
h3 {
	color:blue;
	text-align: center;
	font-size: 20pt;
}
h2 {
    color:darkgreen;
    text-align: center;
	font-size: 40pt;
}
h1 {
    color: #EB1216;
	text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 80pt;
}
nav ul {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(20,20,20,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(20,20,20,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(20,20,20,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(20,20,56,1.00) 100%);
}
nav ul li {
	list-style-type: none;
	display: inline;
	padding-left: 3%;
	padding-right: 3%;
}

article {
    color: #BDAC95;
    margin-left: 3em;
    margin-right: 3em;
}

.gameplayimages img {
	width: 25%;
	height: auto;
	margin: 3%;
	border: 1px solid #F8F8F8;
		
}
